@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@400;500&display=swap');

:root {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.font-body {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  background: rgb(121,56,216);
  background: linear-gradient(315deg, rgba(121,56,216,1) 0%, rgba(73,20,150,1) 100%);
}

html::selection {
  background: #ffffff; /* WebKit/Blink Browsers */
  color: rgb(121,56,216);
}

html::-moz-selection {
  background: #ffffff; /* WebKit/Blink Browsers */
  color: rgb(121,56,216);
}

body {
  overscroll-behavior: none;
  background: rgb(121,56,216);
  background: linear-gradient(315deg, rgba(121,56,216,1) 0%, rgba(73,20,150,1) 100%);
}

.button-light{
  background-color: rgba(121,56,216,1);
}

.secondary-color {
  background-color: rgba(73,20,150,1);
}

#container {
  background: rgb(121,56,216);
  background: linear-gradient(315deg, rgba(121,56,216,1) 0%, rgba(73,20,150,1) 100%);
}

#logomark {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  font-size: 10rem;
}

header {  
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.10);
}
.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.icon-effect {
  transition: all .2s ease-in-out;
}

.icon-effect:hover {
  transform: scale(1.2, 1.2);
}
